[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dependency-injector = "*"
pyodbc = "*"

[dev-packages]
pytest = "*"
assertpy = "*"

[requires]
python_version = "3.10"
